{% extends 'base/main.html' %}
{% block title %}
    StudyTalk
{% endblock title %}

{% block content %}

     <!-- Include -->
    {% include "base/navbar.html" %}

    <div>
        <h1>Home Page with Extends </h1>


    <div>
            <div>
                {% for r in room %}
                    <span>@{{r.host.username}}</span>
                    <h4>{{r.id}}.<a href="/rooms/{{r.id}}">{{r.name}}</a></h4>
                    <p>{{r.description}}</p>

                    <small>{{r.topic.name}}</small>
                    <hr>

                {% endfor %}
            </div>

    </div>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deserunt in aut facere, aliquam repellendus exercitationem natus illum. Nisi ut quo fuga accusamus ipsum? Tempora voluptates labore enim esse optio.</p>

    </div>

{% endblock content %}
