{% extends 'base/main.html' %}
{% block title %}
    StudyTalk
{% endblock title %}



{% block content %}
    <style>
        .home-container{
            display : grid;
            grid-template-columns: 1fr  3fr;
        }
    </style>
 
    <div class="container home-container my-4">
        <div>
            <h3>Browse Topics</h3>
            <hr>
        
            <div>                             
            {% comment %} Filtering with topic name {% endcomment %}
                <p><a href="{% url 'home' %}">All</a></p>
            </div>

            {% for topic in topics %}
              <div>                             
                {% comment %} Filtering with topic name {% endcomment %}
                <p><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></p>
              </div>
            {% endfor %}

        </div>

        <div>
            <h5>{{room_count}} Room Available</h5>
            <a href="{% url 'create-room' %}" class='my-4'>Create Room</a>  
            
            <div>
                {% for r in room %}
                <div>
                    {% if request.user == r.host %}
                        <a href="{% url 'update-room' r.id %}">Edit</a>
                        <a href="{% url 'delete-room' r.id %}">Delete</a>
                    {% endif %}

                    <span>@{{r.host.username}}</span> 
                    {% comment %} <span>@{{request.user}}</span>  {% endcomment %}
                    <h4>{{r.id}}.<a href="{% url 'room' r.id %}">{{r.name}}</a></h4>
                    <p>{{r.description}}</p>

                    <small>{{r.topic.name}}</small>
                    <hr>
                </div>
                {% endfor %}
            </div>

        </div>
        
    </div>

{% endblock content %}
