{% extends 'base/main.html' %}
{% block title %}
    StudyTalk
{% endblock title %}

{% block content %}

     <!-- Include -->
    {% include "base/navbar.html" %}

    <div class="container">
        <div>
            <h1>Study Talk  </h1>

            <a href="{% url 'create-room' %}">Create Room</a>

            <hr>

        <div>
                <div>
                    {% for r in room %}
                            <a href="{% url 'update-room' r.id %}">Edit</a>
                            <a href="{% url 'delete-room' r.id %}">Delete</a>
                        <span>@{{r.host.username}}</span> 
                        <h4>{{r.id}}.<a href="{% url 'room' r.id %}">{{r.name}}</a></h4>
                        <p>{{r.description}}</p>
    
                        <small>{{r.topic.name}}</small>
                        <hr>
    
                    {% endfor %}
                </div>
    
        </div>

        </div>
    </div>

{% endblock content %}
