{% extends 'base/main.html' %}
{% block title %}
    Room Form
{% endblock title %}

{% block content %}

     <!-- Include -->
    <!-- {% include "base/navbar.html" %} -->
    <div class="container">
        <div>
            <h1>Form</h1>
    
        <div>
            <form action='', method='post'>
                {% csrf_token %}
    
                {{form.as_p}}
    
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
    
        </div>
        </div>
    
    </div>
{% endblock content %}
