{% extends 'base/main.html' %}

{% block title %}
    Room
{% endblock title %}

{% block content %}

     <!-- Include -->

    <div class="container">
        <h4>{{room.name}}</h4>
        <p>{{room.description}}</p>

        
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>

            {% for room_message in room_messages %}

                <div>
                    <small>@{{room_message.user}}    {{room_message.created|timesince}}</small>
                    <hr>
                    <p>{{room_message.body}}</p>
                </div>

            {% endfor %}

        </div>


        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action='', method='post'>
                {% csrf_token %}
    
               
    
                <input type="text" name='body'>
                
            </form>
        </div>
        {% endif %}

    </div>

{% endblock content %}
