{% extends 'base/main.html' %}
{% block title %}
    Room Form
{% endblock title %}

{% block content %}

     <!-- Include -->
    {% include "base/navbar.html" %}
    <div>
        <h1>Room Form Page with Extends </h1>

    <div>
           <form action="">
            <p></p>
           </form>

    </div>

{% comment %} I will create your Ai machine learning risk with backend complete website {% endcomment %}


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deserunt in aut facere, aliquam repellendus exercitationem natus illum. Nisi ut quo fuga accusamus ipsum? Tempora voluptates labore enim esse optio.</p>

    </div>

{% endblock content %}
